body,
html {
    background-color: #1b1b1b;
    height: 100%;
    width: 100%;
}
.container,
#root {
    height: 100%;
    width: 100%;
}
.demo7-ball {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    position: absolute;
    border: 1px solid lightblue;
    pointer-events: none;
}
