.photos {
    img {
        height: 1rem;
        border: 1px #666 solid;
        border-radius: 0.1rem;
        overflow: hidden;
        cursor: pointer;
    }
    .gallery {
        display: flex;
        align-items: center;
        .item {
            // opacity: 0;
        }
    }
}
